body {
  /* background: url(images/originals.jpg) no-repeat center center fixed;  */
  background-size: 100% 100%;
  z-index: 2;
  /* max-width: 1100px; */
  margin: 30px;
}

.pokemon .img-container img {
  height: 200px;
}

.card:hover {
  animation: bounce 0.5s linear;
  /* THis isn't working */
}


.card:hover {
  background-color: lightgray;
}